<h2>Have you checked the Bath?</h2>
<p>
	If you're enquiring about the status of your film, be sure to check it's progess in the <%= link_to "bath ", bath_path %>. Otherwise send an email using the form below, and we'll get back to you as soon as possible.
</p>
<h2>Contact Us</h2>