<h2>Queue</h2>
<div id="bath">
	<!-- Initial Queue render -->
	<%= render @jobs %>
</div>
<%= form_for Job.new, remote: true, authenticity_token: true do |f| %>
	<%= f.text_field :name, :placeholder => "Name" %>
	<%= f.submit %>
<% end %>